@using Bes.Models.BesEntity
@model List<storeTable>

@{
    ViewBag.Title = "Mağaza Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("Index","Admin")" class="btn btn-outline-primary btn-md btn-sm float-left">
                    <i class="fas fa-chevron-circle-left"></i>&nbsp; Ana Sayfaya Dön
                </a>
                <a href="@Url.Action("AddStore","Admin")" class="btn btn-outline-secondary btn-md btn-sm float-right">
                    <i class="fa fa-plus"></i>&nbsp; Yeni Mağaza Ekle
                </a>
            </div>
        </div>
    </div><!-- END column -->
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <table id="example1" class="table table-bordered table-sm table-striped">
                    <thead>
                        <tr>
                            @*<th style="width: 5px;">ID</th>*@
                            <th style="width: 100px;">Mağaza Kodu</th>
                            <th style="width: 200px;">Mağaza Adı</th>
                            <th style="width: 300px;">Mağaza Açıklama</th>
                            <th style="width: 10%;">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                        <tr>
                            @*<td>#@m.storeID</td>*@
                            <td>@m.storeCode</td>
                            <td>@m.storeName</td>
                            <td>@m.storeDescription</td>
                            <td style="text-align:center;">
                                <a href="/Admin/EditStore/@m.storeID" class="btn btn-success">Güncelle</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

