@model List<Bes.Models.OzetMasraf>

@{
    ViewBag.Title = "Özet Masraf Raporu Görüntüle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #card_yukseklik {
        height: 110px;
    }
</style>

<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-exclamation-triangle"></i> UYARI!!!!!</h5>
    <ul>
        <li>Mağaza Kodu, Başlangıç Tarihi ile Bitiş Tarihi Seçilmek Zorundadır</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body" id="card_yukseklik">
                <a href="@Url.Action("Index","Admin")" class="btn btn-outline-primary btn-md btn-md">
                    <i class="fas fa-chevron-circle-left"></i>&nbsp; Ana Sayfaya Dön&nbsp;&nbsp;
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
               
                <div class="form-row">
                    <div class="col-md-4">
                        <label>Mağaza Kodu</label>
                        @Html.DropDownList("Seçiniz", (List<SelectListItem>)ViewBag.magazaKodu,
                        new
                        {
                            @id = "store_id",
                            @class = "form-control",
                            required = "required"
                        })
                    </div>
                    <div class="col-md-4">
                        <label>Başlangıç Tarihi</label>
                        <input type="date" class="form-control" name="bastar" id="bastar" required>
                    </div>
                    <div class="col-md-4">
                        <label>Bitiş Tarihi</label>
                        <input type="date" class="form-control" name="bittar" id="bittar" required>
                    </div>
                </div><br />
                <button type="submit"
                        class="btn btn-success btn-md float-right"
                        style="width:100px;"
                        value="Getir"
                        onclick="getData()" />Getir

            </div>
        </div>

    </div>
</div>

<div id="row" name="row">
    @{ Html.RenderPartial("_raporOzetMasrafPartial");}
</div>
<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script>

    function getData() {
        var bastar = document.getElementById('@Html.Id("bastar")').value;
        var bittar = document.getElementById('@Html.Id("bittar")').value;
        var store_id = document.getElementById('@Html.Id("store_id")').value;
        if (bastar != "" && bittar != "" && store_id!="") {
                    $.ajax({
                        url: "@Url.Action("SummaryExpenceFilterReports", "Admin")",
                        method: 'POST',
                        data: { start: bastar, end: bittar, store_id: store_id},
                        success: function (data) {
                            $("#example1").html(data);
                        },
                    });
        }
    }

    $(function () {
        $('.datepicker').datepicker();
    });
</script>

